{% extends template %}
{% block content %}
<main class="in-main">
<br>	
<h1><b>　看診紀錄</b></h1>
<br>


<div class="in-main-caption-bar">
<table style="width: 100%;">
	<tr>
		<td style="width: 20%;">
		　　建檔日期
		</td>
		<td style="width: 15%;">
		病名
		</td>
		<td  style="width: 20%;">
		症狀
		</td>
		<td  style="width: 15%;">
		狀態
		</td>
	</tr>	
</table>	
</div>
<br>
    {% for medicalrecord in medicalrecordList %}
        <div class="in-main-content-bar">
	<table style="width: 100%;">
	<tr>
		<td style="width: 20% ;text-indent: 40px;">
		{{ medicalrecord.0 }}
		</td>
		<td style="width: 15%;">
		{{ medicalrecord.1 }}
		</td>
		<td  style="width: 20%;">
		{{ medicalrecord.2 }}
		</td>
		<td  style="width: 15%;">
            {% if medicalrecord.3 == 1 %}
                完成
            {% else %}
                未完成
            {% endif %}
		</td>
	</tr>
</table>
</div>
        <br>
    {% endfor %}

{% endblock %}