{% extends template %}
{% block content %}
<main class="in-main">
<br>
<h1><b>　設備歸還</b></h1>
<div>
    <input class="reto-btn-patient" type="button" value="設備租借" onclick="location.href='../rehabilitator_rentalrecords'" >
</div>
<br>

<!-- 身分證圓格子 -->
<div class="in-main-explain"  >
  <p>機器目前共有{{ kinect_amount }}台可供使用，租金為$NT800/月，使用須遵守以下規範
   <p> 1.使用時請勿重摔等損害機器之行為，如損壞需按照院內規定進行賠償
   <p>  2.使用完畢後，請整理好線材妥善保存
   <p>  3.請於租借期限內歸還，有借有還，再借不難
</div>
<br><br><br><br><br>
<div class="in-main-explain-lease" style="background: #DAE3F3">
<br>
<div class="in-main-explain-lease-content" style="margin-left: 20%;width: 650px">
	<p></p><p></p>

	<div><a style="font-size: 40px"><b>機器</b></a></div>
	<div style="height: 210px;  overflow-y:scroll;" class="scrollbar-style">
        {% for kinect in kinects %}
            <input type='button' class="in-main-explain-lease-content-bar" id="kinect" value="{{ kinect.id }}" onClick='kinectbtn(this.value)' >
        {% endfor %}
	</div>
</div>
<br><br><br><br><br>
<form method="post" style="height: 60%;width: 100%" >
    {% csrf_token %}
	<div style="float: left; width: 10%; margin-left: 90%">
		<input type="button" style="" class="in-main-notice-button" value="歸還" id="lendBtn" />
	</div>
</form>
</div>
<br>
</main>
    <script>
        var kinectid=0;
        var patientid='';
        var notsel = document.getElementsByClassName("in-main-explain-lease-content-bar");
        var notsel_p = document.getElementsByClassName("in-main-explain-lease-content-bar-patient");

        function kinectbtn(kinect_id) // 選擇機器
        {
            kinectid = kinect_id;
            console.log(kinectid);  // 1

            /*for(var i=0;i<notsel.length;i++){
                notsel[i].className = "in-main-explain-lease-content-bar";

                if(notsel[i]==kinect_id)
                    notsel[i].className +=" in-main-explain-lease-content-bar-selected";
                console.log(notsel[i]+notsel[i].className)
            };*/
            for (var [key] of Object.entries(notsel)) {
                notsel[key].className = "in-main-explain-lease-content-bar";
                //console.log(key+kinect_id);
                if(notsel[key].value==kinect_id)
                    notsel[key].className +=" in-main-explain-lease-content-bar-selected";
                //console.log(key+value)
            }


        }

        function patientbtn(id) // 選擇機器
        {
            patientid = id;
            console.log(patientid);  // 1

            for (var [key] of Object.entries(notsel_p)) {
                notsel_p[key].className = "in-main-explain-lease-content-bar-patient";
                //console.log(key+kinect_id);
                if(notsel_p[key].value==patientid)
                    notsel_p[key].className +=" in-main-explain-lease-content-bar-patient-selected";
                //console.log(key+value)
            }
        }

        $('#lendBtn').click(function () {
            //var sel_date = temp[0]+temp[1]+temp[2];
            console.log("借出去了");
            if(kinectid==null)
                return;

            $.ajax({
                type: 'GET',
                url: '/rehabilitator_rentalback',
                data: {'sel_kinect':kinectid}
            });
            alert("歸還完成!")
        });
    </script>
{% endblock %}
