{% extends template %}
{% load static %}
{% load AppProject_extras %}

{% block content %}
<main class="in-main">
	<div class="title">
		復健紀錄
	</div>
    <div style="font-size: 18pt;font-weight: bold;width: 95%;height: 5%;margin-left: 2%;">
        {% if sel_patient != null or sel_plan != null %}
            目前顯示的資料為: {{ sel_patient_name.0.2 }}
            {% if sel_plan != null %}
                的 復健計畫ID {{ sel_plan }}
            {% endif %}
        {% endif %}
    </div>

	<div>
        <form method="get" action="../rehabilitator_CheckPlan/">
        {% csrf_token %}
            <select name="sel_patient" class="reto-input-patient reto-div-select" onChange="this.form.submit();">
                <option value=""> 選擇病患</option>
                {% for patient in patients %}
                    {% if sel_patient == patient.1 %}
                        <option value="{{ patient.1 }}" selected="selected"> {{ patient.0 }}</option>
                    {% else %}
                        <option value="{{ patient.1 }}"> {{ patient.0 }}</option>
                    {% endif %}
                {% endfor %}
            </select>　　

            <select name="sel_plan" class="reto-input-patient reto-div-select" onChange="this.form.submit();">
                {% if plans == null %}
                    <option value="">無復健計畫 !</option>
                {% else %}
                    <option value="">選擇計畫</option>
                {% endif %}

                {% for plan in plans %}
                    {% if sel_plan ==  plan.0  %}
                        <option value="{{ plan.0 }}" selected="selected" > {{ plan.0 }}</option>
                    {% else %}
                        <option value="{{ plan.0 }}" > {{ plan.0 }}</option>
                    {% endif %}
                {% endfor %}
            </select>　　
            <input class="reto-btn-patient" type="button" value="新增復健計畫" onclick="location.href='../rehabilitator_addPlan/?sel_patient={{ sel_patient }}'" >
        </form>
	</div>
	<div class="main-container reto-project reto-project-new" >
		<article class="reto-project-top">
		</article>
		<article class="reto-project-botton reto-scrollbar"  id="reto-x-scrollbar" >
			<span class="reto-nor">
            {% for set in plans_sets %}
			<button class="btn reto-date-project reto-scrollbar" style="font-family: '微軟正黑體';font-weight: bold;font-size: 24pt;vertical-align: text-top;" type="button"><!-- data-bs-toggle="modal" data-bs-target="#exampleModal"-->
                <p>民國{{ set.0|date:"Y" |add:"-1911"}}年{{ set.0|date:"m" }}月{{ set.0|date:"d" }}日</p>
                <img src="{% static "pic/rehabilitation.png" %}" width="auto" height="120" alt=""/>
                <hr size="8px"  width="95%" align="center" class="reto-line">
                {% for content in sets_content %}
                    {% if set.0 == content.1 %}
                            <!-- href aria-controls=控制對應ID -->
                    <table>
                        <tr>
                            <td style="font-family: '微軟正黑體';font-weight: bold;font-size: 24pt;">
                                <div data-bs-toggle="collapse" href="#aa{{ content.0 }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                    動作: {{ content.9 }}
                                </div>
                            </td>
                            <td>
                                <label id='addBtn' class='reto-display-square'>-</label>
                            </td>
                        </tr>
                    </table>
                        <!--<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>-->
                        <div class="collapse multi-collapse" id="aa{{ content.0 }}" style="text-align: left"> <!-- use id to target -->
                            {% for sd_content in sd_contents %}
                                {% if sd_content.14 == content.5 %}
                                    持續時間: {{ sd_content.15 }}秒<br>
                                    次數: {{ sd_content.16 }}次<br>
                                    休息時間: {{ sd_content.17 }}秒<br>
                                    頂點維持時間: {{ sd_content.18 }}秒<br>
                                    類型: {{ sd_content.19 }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr size="8px"  width="95%" align="center" class="reto-line">
                    {% endif %}
                {% endfor %}
                <label id='addBtn' class='reto-display-square' style="margin-left: 40%;" onclick='add_display({{ set.0|date:"Y" }}{{ set.0|date:"m" }}{{ set.0|date:"d" }})' >+</label>
			</button>
            {% endfor %}
			</span>
		</article>
	</div>
</main>
<script>
var presetAction =
    [
    {% for motion in motions %}
        "{{ motion.name }}",
    {% endfor %}
    ];// 動作有哪些
var set_detail= [];
var selectedDate = [];
var planName = document.getElementById("planName");  // 計畫名稱
var addBtn = document.getElementById("addBtn");  // 新增按鈕
var saveBtn = document.getElementById("saveBtn");  // 存檔按鈕


function add_display(sel_date){
    set_detail= [];
    selectedDate = [];
    selectedDate.push(sel_date);
    var actionHtml = "<li class='reto-div horizaCenter reto-display-add' style='z-index: auto;position: absolute;top: 30%;right: 5%;' id=''>\
					<div class='reto-poject-p'>\
						<p>動作名稱</p>\
						<p>動作次數</p>\
						<p>休息時間</p>\
						<p>維持時間</p>\
						<p>動作類型</p>\
						<p>動作花費時間</p>\
					</div>\
					<div class='reto-poject-in'>\
						<p class='reto-poject-p-div'>\
						<select class='reto-div-input reto-div-select' id='name' >";


        for(var i=0;i<presetAction.length;i++)
        {
            console.log(presetAction[i])

            actionHtml = actionHtml + "<option value="+(i+1)+">" + presetAction[i] + "</option>";
        }

            actionHtml = actionHtml + "</select>\
                                    </p>\
                                    <p class='reto-poject-p-div'><input class='reto-div-input' type='text' id='times'/></p>\
                                    <p class='reto-poject-p-div'><input class='reto-div-input' type='text' id='breadtime'/></p>\
                                    <p class='reto-poject-p-div'><input class='reto-div-input' type='text' id='duration'/></p>\
                                    <p class='reto-poject-p-div'><input class='reto-div-input' type='text' id='type'/></p>\
                                    <p class='reto-poject-p-div'><input class='reto-div-input' type='text' id='motion_time'/></p>\
                                </div>\
                                <div>\
                                <button id='viewBtn' class='reto-display' onmouseenter='vid_display()' onmouseleave='vid_remove()'><p class='horizaCenter'>View</p></button>\
                                </div>\
                                <div>\
                                <button id='deleteBtn' class='reto-delete' onmousedown='add_remove()'><p class='horizaCenter'>X</p></button>\
                                </div>\
                                <button id='' class='reto-save' style='margin-top: 45%' onclick='save("+sel_date+")'><p class='horizaCenter'>存檔</p></button>\
                            </li>";
    $('.reto-display-add').remove();
    $('body').append(actionHtml);
 }

 function add_remove(event){
     $('.reto-display-add').remove();
 }

 function vid_display(event){
     $('.reto-display').append('<video class="reto-display-vid" id="TheNightNightShow" width="250" style="z-index: auto;position: absolute;top: -5px;right: 5%;" > ' +
                    '<source src="{% static "sample_vids/StandUpComedy.mp4" %}" type="video/mp4" /> " + </video>');
     document.getElementById("TheNightNightShow").play();
 }

 function vid_remove(event){
     $('.reto-display-vid').remove();
 }

 function save(sel_date){
    console.log("存檔");
    console.log(sel_date);
    set_detail[0]=[];
        set_detail[0][0] = []
        set_detail[0][0] = [
                document.getElementById("name").value,
                document.getElementById("times").value,
                document.getElementById("breadtime").value,
                document.getElementById("duration").value,
                document.getElementById("type").value,
                document.getElementById("motion_time").value
        ];
        console.log(selectedDate)
        console.log(set_detail);
        console.log("i:"+0+"+setdetail"+set_detail[0][0]);

    /*var timeoutID = setTimeout(myAlert, 5000);

    function myAlert() {
        alert('五秒鐘到了！');
    }"*/
    //console.log(aa);
    $.ajax({
        type: 'GET',
        url: '/rehabilitator_addPlan',
        data: {'sel_patient': '{{sel_patient}}','selectedDate[]':selectedDate,'set_detail[]':set_detail,'planName':'{{ plan_name.0.0 }}','planid':'{{ plan_name.0.1 }}'}
    });
    alert('存檔成功 !');
}
    </script>
{% endblock %}


    <!-- 需引入bootstrap.js -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
