{% extends template %}
{% load static %}
{% block content %}
<main class="in-main">
<br>	
<h1><b>　通知推送</b></h1>
<br>
	<!-- 搜尋表單 -->
<form method="post" >
    {% csrf_token %}
	<!-- 並排 -->
	<div style="float:left;">
        <div style="font-size: 18pt;font-weight: bold;width: 95%;height: 5%;margin-left: 10%;">
            {% if sel_patient != null %}
                目前傳送的對象為: {{ sel_patient_name.0.2 }}
                {% if sel_plan != null %}
                    的 復健計畫ID {{ sel_plan }}
                {% endif %}
            {% endif %}
        </div>
		<!-- 身分證圓格子 -->
		<div class="in-main-search" >  
			病患身分證：
            <select name="sel_patient" style="width:200px;height:40px;border: none; color:black;" onChange="this.form.submit();">
                <option value=""> 選擇病患</option>
                {% for patient in patients %}
                    {% if sel_patient == patient.1 %}
                        <option value="{{ patient.1 }}" selected="selected"> {{ patient.1 }}</option>
                    {% else %}
                        <option value="{{ patient.1 }}"> {{ patient.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>　　
            <!--<input type="text" style="width:200px;height:40px;border: none;" required pattern="^[A-Z]+[0-9]{9}$">-->
		</div>
	</div>

	<!-- 分隔div -->
<div style="float:left; color: transparent">　　　　</div>
	<!-- 按鈕div -->
<div style="float:left;">
	<!--<input type="submit" class="in-main-search-button" value="搜尋" />-->
</div>
</form>
<br><br><br><br>
<div class="in-main-notice" style="background: #DAE3F3">
<br>
<form method="post" action="../rehabilitator_contactrecord/" style="height: 60%;width: 100%" >
<b><a style="margin: 35px; font-size: 35px">　
	<!--To：
	<select name="sel_patient" style="width:200px;height:20%;border: none; color:black;" class="reto-div-select">
        % for patient in patients %}
		    <option value="{ patient.1 }}"> { patient.0 }}</option>
        % endfor %}
	</select>　　-->
</a></b>
{% csrf_token %}
    {% if sel_patient != null and sel_patient != ""%}
        <input type="hidden" value="{{ sel_patient }}" name="sel_patient" />
        <textarea style="margin-left:5%; margin-right: 5%; width: 90%; height: 100%;border: none;" name="message" cols="40" rows="1"/></textarea>
    {% else %}
        <input type="text" style="margin-left:5%; margin-right: 5%; width: 90%; height: 100%;border: none;" name="message" disabled/>
    {% endif %}
<br>	
<input type="submit" style="" class="in-main-notice-button" value="推送" onclick="alert('推送成功 !')" />
	
</form>
</div>
<br>




</main>
{% endblock %}
