{% extends template %}
{% block title %}<title>顯示所有資料</title>{% endblock %}
{% load static %}
{% block content %}
	<h1>你好!{{myuser.cName}}</h1>
	<h2>現在時間是{{now}}</h2>
	<h2>顯示商品詳細資訊</h2>
	
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
	{% for product in products %}
	<div class="col">

			<div class="card" style="width: 18rem;">
			{% with 'pics/'|add:product.pPic as image_path %}pyt
			  <img src="{% static image_path %}" class="card-img-top" alt="...">
			  {% endwith %}
			  <div class="card-body">
				<h5 class="card-title">{{product.pName}}</h5>
				<h6 class="card-title">${{product.pPrice}}-庫存:{{product.pStock}}</h6>
				<p class="card-text">{{product.pMessage}}</p>
				<a href="../buy/{{product.id}}" class="btn btn-primary">購買</a>
			  </div>
			</div>

	</div>
	
	{% endfor %}
	</div>
{% endblock %}